.container-others{
    height: 100vh;
    padding: 55px 2% 0px 2%;
    background-color: #ae8bf525;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.container-others{
    color: #3f3d56;
}

.container-others h2{
    font-size: 26px;
}

.posts{
    max-height: 70vh;
    /* background-color: whitesmoke; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: scroll;
}

.post-card{
    max-height: 20%;
    height: 20%;
    margin: 3%;
    min-height: 18%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 10px 1px rgb(127 137 185 / 20%);
}

.post-text{
    font-size: 13px;
    text-align: center;
    align-self: center;

}
.post-title{
    color: #3f3d56;
    font-size: 18px;
    margin-bottom: 10px;
}

.post-image{
    width: 31%;
}

.post-image img{
    max-height: 100%;
}

@media (min-width: 1440px){
    .post-card{
        width: 30%;
        cursor: pointer;
    }

    .post-text p{
        font-size: 13px;
        text-align: center;
    }

    .post-card:hover{
        transform: scale(1.1); 
        transition: 0.5;
    }
}